<!doctype html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs'); %>
</head>


    <%- include('../../partials/header.ejs'); %>

<body>
<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Products</h1>
            </div>
        </div>
    </section>


    <div class="container categories">

        <div class="row">
            <div class="col-md-3 py-4">
                <a href="/products/create" class="btn btn-primary">Nuevo Producto</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < products.length; i++ ) { %>
                    <tr>
                        <th scope="row"><%= products[i].id %></th>
                        <td>
                            <img src="https://via.placeholder.com/60" alt="" class="bd-placeholder-img" width="60" height="60">
                        </td>
                        <td><%= products[i].name %></td>
                        <td><%= products[i].category %></td>
                        <td><%= products[i].price %></td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="/products/<%= products[i].id %>">Ver</a>
                            <a class="btn btn-sm btn-primary" href="/products/edit/<%= products[i].id %>">Editar</a>
                            
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Borrar
                            </button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Borrar Producto</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Estas seguro que quieres borrar este producto?</h5>
                                <p><%= products[i].Name %> - <%= products[i].category %></p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div> <!-- end Delete Modal -->
                    <% } %>
                </tbody>
            </table>
        </div>

    </div><!-- /.container -->

</main>

<%- include('../../partials/footer.ejs') %>

</body>
</html>