<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>


    <%- include('../partials/header.ejs'); %>

<body>
    <main>

        <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
            <div class="container">
                <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Acceso</h1>
                </div>
            </div>
        </section>


        <div class="py-5 container">

            <div class="col-md-12 d-flex justify-content-center">
                <form action="/login" method="POST">
                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input name="email" 
                               type="email"
                               value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>"  
                               class="form-control" 
                               placeholder="name@example.com"
                               id="email"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" 
                               type="password" 
                               class="form-control"
                               id="password"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %></small>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                          <input name="rememberme" type="checkbox" value="rememberme"> Remember me
                        </label>
                      </div>
                    
                    <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Acceder</button>
                    </div>
                </form>
            </div>

        </div><!-- /.container -->

    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>
