<!doctype html>
<html lang="en">
<head>
    <%- include('../../../partials/head.ejs'); %>
</head>


    <%- include('../../../partials/header.ejs'); %>

<body>
<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Editar Usuario</h1>
            </div>
        </div>
    </section>


    <div class="py-5 container">

        <div class="col-md-12 d-flex justify-content-center">
            <% if(typeof errors != "undefined") {%>
                <ul>
                    <% for(let i=0; i < errors.length; i++) { %>
                        <li><%= errors[i].msg%></li>
                    <% } %>
                </ul>
            <% }%>
            <form action="/admin/users/edit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input name="firstName" 
                           type="text" 
                           value="<%= user.firstName %>"
                           class="form-control" 
                           placeholder="Nathy">
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.firstName) ? error.firstName.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input name="lastName" 
                           type="text"
                           value="<%= user.lastName %>" 
                           class="form-control" 
                           placeholder="War">
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.lastName) ? error.lastName.msg : '' %></small>
                </div>
            
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" 
                           type="email"
                           value="<%= user.email %>"  
                           class="form-control" 
                           placeholder="name@example.com"
                           disabled>
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" 
                           type="password" 
                           class="form-control"
                           id="password">
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %></small>
                </div>

                <% if(typeof userAuthenticated != "undefined" && userAuthenticated.role === "Admin") { %>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                            <select name="role" class="form-select" aria-label="Default select example">
                            <option value="Admin" <%= user.role === 'Admin' ? 'selected' : '' %>>Admin</option>
                            <option value="Registered" <%= user.role === 'Registered' ? 'selected' : '' %>>Registered</option>
                        </select>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.role) ? error.role.msg : '' %></small>
                    </div>
                <% } %>

                <div class="mb-3 card">
                    <label for="avatar" class="form-label">Avatar</label>
                    
                    <div class="mb-3">
                        <img src="<%= user.avatar %>" alt="<%= user.firstName %>" width="200" height="200">
                    </div>
                    <input name="avatar" type="file" class="form-control-file" id="avatar">
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.avatar) ? error.avatar.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <a class="btn btn-secondary" href="/">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>

    </div><!-- /.container -->

</main>

<%- include('../../../partials/footer.ejs') %>

</body>
</html>