<!doctype html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs'); %>
</head>


    <%- include('../../partials/header.ejs'); %>

<body>
<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Registro</h1>
            </div>
        </div>
    </section>


    <div class="py-5 container">

        <div class="col-md-12 d-flex justify-content-center">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input name="firstName" 
                           type="text" 
                           value="<%= (typeof old != 'undefined' && !firstName) ? old.firstName : '' %>"
                           class="form-control" 
                           placeholder="Jane"
                           id="firstName"
                           required>
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.firstName) ? error.firstName.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <label for="last-name" class="form-label">Apellido</label>
                    <input name="lastName" 
                           type="text"
                           value="<%= (typeof old != 'undefined' && !errors.lastName) ? old.lastName : '' %>" 
                           class="form-control" 
                           placeholder="Doe"
                           id="lastName"
                           required>
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.lastName) ? error.lastName.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input name="email" 
                           type="email"
                           value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>"  
                           class="form-control" 
                           placeholder="name@example.com"
                           id="email"
                           required>
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" 
                           type="password" 
                           class="form-control"
                           id="password"
                           required>
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %></small>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Re-Password</label>
                    <input name="passwordConfirmation" 
                           type="password" 
                           class="form-control"
                           id="passwordConfirmation"
                           required>
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.passwordConfirmation) ? error.passwordConfirmation.msg : '' %></small>
                </div>

                <div class="mb-3 card">
                    <label for="avatar" class="form-label">Avatar</label>
                    <input name="avatar" type="file" class="form-control-file" id="avatar">
                    <small style="color: red;"><%= (typeof error != 'undefined' && error.avatar) ? error.avatar.msg : '' %></small>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>

    </div><!-- /.container -->

</main>

<%- include('../../partials/footer.ejs') %>
 
</body>
</html>