<!doctype html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <%- include('../../partials/header.ejs'); %>
<body>
<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Tienda</h1>
            </div>
        </div>
    </section>

    <div class="row d-flex justify-content-center">
        <% if(typeof error != "undefined") { %>
            <div class="alert alert-secondary d-flex justify-content-center" role="alert">
                <%= error %>
              </div>
        <% } %>
    </div>

    <div class="py-5 container">
        <div class="col-md-12">
            <div class="row">
                
                <!-- ice cream sizes and categories -->
                <div class="col-8">
                    <form id="formStore" name="formStore">
                        <!-- sizes -->
                        <div class="container">
                            <div class="row" id="laricaProductSize">

                                <div class="d-flex justify-content-center categories-title">
                                    <h2>Tamaños</h2>
                                </div>
                                
                                <% if(typeof products != "undefined") { %>
                                    <% for(let j=0; j < products.length; j++) { %>
                                        <div class="col-lg-4">
                                            <div class="form-check">
                                                <img src="/images/<%= products[j].photo %>" alt="<%= products[j].name %>" class="bd-placeholder-img" width="212" height="170">
                                                <div class="d-flex justify-content-center">
                                                    <input type="radio"  class="form-check-input larica-product-size" value="<%= products[j].id %>" name="productSize" id="<%= products[j].id %>">
                                                    <label class="form-check-label" for="<%= products[j].id %>">
                                                        <span class="d-flex justify-content-center" id="productSizeName<%= products[j].id %>"><%= products[j].name %></span><br>
                                                        <span class="text-muted">Máximo de <span id="flavorLimit<%= products[j].id %>"><%= products[j].flavorLimit %></span> sabores</span>
                                                        <div class="d-flex justify-content-center">
                                                            <h3>
                                                                <span class="text-muted">$</span>
                                                                <span id="productSizePrice<%= products[j].id %>"><%= products[j].price %></span>
                                                            </h3>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div><!-- /.col-lg-4 -->
                                    <% } %>
                                <% } %>
                    
                            </div><!-- /.row -->
                            
                        </div><!-- end sizes -->

                        <!-- categories -->
                        <div class="container">
                            <div class="row" id="laricaFlavors">

                                <div class="d-flex justify-content-center categories-title">
                                    <h2>Sabores</h2>
                                </div>

                                <% if(typeof categories != "undefined") { %>
                                    <% for(let i=0; i < categories.length; i++) { %>
                                        
                                        <div class="col-lg-4 py-2">
                                            <h5><%= categories[i].name %></h5>
                                            <% for(let x=0; x < flavors.length; x++) { %>
                                                <% if(flavors[x].flavorCategoryId === categories[i].id) { %>
                                                <div class="form-check">
                                                    <input type="checkbox" name="flavorsSelected" class="form-check-input" value="<%= flavors[x].id %>" id="flavor<%= flavors[x].id %>">
                                                    <label class="form-check-label larica-flavor-name" for="flavorId<%= flavors[x].id %>" id="flavorName<%= flavors[x].id %>" >
                                                    <%= flavors[x].name %>
                                                    </label>
                                                </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                        
                                    <% } %>
                                <% } %>

                            </div>
                        </div>
                        <!-- end categories -->

                        <div class="d-grid gap-2 col-6 mx-auto py-4">
                            <!-- <input type="button" name="Submit" class="btn btn-primary" value="Contar" onClick="contar();"> -->
                            <button type="submit" class="btn btn-primary" id="addOrderButton">Agregar al carrito</button>
                        </div>
                    </form>
                </div> <!-- ice cream sizes and categories -->
                    

                <!-- cart -->
                <div class="col-4" id="cartCard">
                    <div class="card">
                        <table class="table" id="showOrderItems"></table>
                        <p class="cartEmpty" style="text-align: center;"></p>
                        <div class="row justify-content-between">
                            <div class="col-4 justify-content-center">
                                <h5 style="text-align: center;">Total</h5>
                            </div>
                            <div class="col-4">
                                <h5 id="totalPrice" style="text-align: right; padding-right: 10px;"></h5>
                            </div>
                          </div>
                    </div>
                    <div class="d-grid gap-2">
                        <a class="btn btn-primary" href="/store/cart" id="shopButton">Ir al Carrito</a>
                    </div>
                </div> <!-- cart -->
            </div>
        </div>
    </div><!-- /.container -->
</main>

<%- include('../../partials/footer.ejs') %>

<script src="js/flavorlimit.js"></script> 
<script src="js/shop.js"></script> 
<script src="js/deleteCartItem.js"></script> 
</body>
</html>