<!doctype html>
<html lang="en">
<head>
    <%- include('../../../partials/head.ejs'); %>
</head>


    <%- include('../../../partials/header.ejs'); %>

<body>
<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Productos</h1>
            </div>
        </div>
    </section>


    <div class="container categories">

        <div class="row">
            <div class="col-md-3 py-4">
                <a href="/admin/products/create" class="btn btn-primary">Nuevo Producto</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Limite de Sabores</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <% for( let i = 0; i < products.length; i++ ) { %>
                    <tr>
                        <th scope="row"><%= products[i].id %></th>
                        <td>
                            <img src="/images/<%= products[i].photo %>" alt="<%= products[i].name %>" class="bd-placeholder-img" width="60" height="60">
                        </td>
                        <td><%= products[i].name %></td>
                        <td><%= products[i].flavorLimit %></td>
                        <td><%= products[i].price %></td>
                        <td>
                            <!-- <a class="btn btn-sm btn-warning" href="/admin/products/<%= products[i].id %>">Ver</a> -->
                            <a class="btn btn-sm btn-primary" href="/admin/products/edit/<%= products[i].id %>">Editar</a>
                            
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#productDeleteModal<%= products[i].id %>">
                                Borrar
                            </button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="productDeleteModal<%= products[i].id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Borrar Producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="py-4">
                                    <h6 class=" d-flex justify-content-center">¿Estas seguro que quieres borrar este producto?</h6>
                                    <p class=" d-flex justify-content-center"><%= products[i].name %> de ID <%= products[i].id %></p>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <form action="/admin/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div> <!-- end Delete Modal -->
                    <% } %>
                </tbody>
            </table>
            <% if(products.length == 0) { %>
                <div class="alert alert-secondary" role="alert">
                    <b><em>No hay registros!</em></b>
                  </div>
            <% } %>
        </div>

    </div><!-- /.container -->

</main>

<%- include('../../../partials/footer.ejs') %>

</body>
</html>